AudioAnalyzer.Client/Service References/DistributorProxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30200/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" />
  <xs:complexType name="Subscriber">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element name="_x003C_DictionaryID_x003E_k__BackingField" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" name="_x003C_Monitor_x003E_k__BackingField" nillable="true" type="q1:StationContainer" />
          <xs:element name="_x003C_ServiceCallback_x003E_k__BackingField" nillable="true" type="xs:anyType" />
          <xs:element name="_x003C_SingleInstanceID_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Subscriber" nillable="true" type="tns:Subscriber" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IpAdress_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Provider">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element name="_x003C_IsAlive_x003E_k__BackingField" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" name="_x003C_ProviderContent_x003E_k__BackingField" nillable="true" type="q2:ArrayOfStationContainer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
</xs:schema>