AudioAnalyzer.Client/Service References/DistributorProxy/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30200/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" />
  <xs:import schemaLocation="http://localhost:30200/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" minOccurs="0" name="subscriber" nillable="true" type="q1:Subscriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" minOccurs="0" name="subscriber" nillable="true" type="q2:Subscriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveSubscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContextChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" minOccurs="0" name="data" nillable="true" type="q3:ArrayOfStationContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContextChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectPublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" minOccurs="0" name="dataProvider" nillable="true" type="q4:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectPublisherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContextChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" minOccurs="0" name="data" nillable="true" type="q5:StationContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>