AudioAnalyzer.Provider.Server/Service References/Publisher/Distributor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Distributor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDistributor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30200/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30200/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30200/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Users" />
      <xsd:import schemaLocation="http://localhost:30200/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" />
      <xsd:import schemaLocation="http://localhost:30200/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistributor_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IDistributor_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributor_LeaveSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSubscription" />
  </wsdl:message>
  <wsdl:message name="IDistributor_LeaveSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributor_PublishContextChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishContextChange" />
  </wsdl:message>
  <wsdl:message name="IDistributor_PublishContextChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishContextChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributor_ConnectPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectPublisher" />
  </wsdl:message>
  <wsdl:message name="IDistributor_ConnectPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributor_ContextChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ContextChanged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDistributor">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributor/Subscribe" message="tns:IDistributor_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributor/SubscribeResponse" message="tns:IDistributor_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributor/LeaveSubscription" message="tns:IDistributor_LeaveSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributor/LeaveSubscriptionResponse" message="tns:IDistributor_LeaveSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishContextChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributor/PublishContextChange" message="tns:IDistributor_PublishContextChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributor/PublishContextChangeResponse" message="tns:IDistributor_PublishContextChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributor/ConnectPublisher" message="tns:IDistributor_ConnectPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributor/ConnectPublisherResponse" message="tns:IDistributor_ConnectPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ContextChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributor/ContextChanged" message="tns:IDistributor_ContextChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDistributor" type="tns:IDistributor">
    <wsp:PolicyReference URI="#NetTcpBinding_IDistributor_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IDistributor/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveSubscription">
      <soap12:operation soapAction="http://tempuri.org/IDistributor/LeaveSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishContextChange">
      <soap12:operation soapAction="http://tempuri.org/IDistributor/PublishContextChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectPublisher">
      <soap12:operation soapAction="http://tempuri.org/IDistributor/ConnectPublisher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContextChanged">
      <soap12:operation soapAction="http://tempuri.org/IDistributor/ContextChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Distributor">
    <wsdl:port name="NetTcpBinding_IDistributor" binding="tns:NetTcpBinding_IDistributor">
      <soap12:address location="net.tcp://localhost:30201/Catch" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:30201/Catch</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>