AudioAnalyzer.Client/Service References/AnalyzerProxyDetails/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NAudio.Dsp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NAudio.Dsp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8025/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfComplex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Complex" type="tns:Complex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplex" nillable="true" type="tns:ArrayOfComplex" />
  <xs:complexType name="Complex">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complex" nillable="true" type="tns:Complex" />
</xs:schema>