AudioAnalyzer.Client/Service References/AnalyzerProxyDetails/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StereoAudioInterface">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AudioInterface">
        <xs:sequence>
          <xs:element minOccurs="0" name="LeftCHannelLevel" type="xs:int" />
          <xs:element minOccurs="0" name="RightChannelLevel" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StereoAudioInterface" nillable="true" type="tns:StereoAudioInterface" />
  <xs:complexType name="AudioInterface">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AudioInterface" nillable="true" type="tns:AudioInterface" />
</xs:schema>