AudioAnalyzer.Client/Service References/AnalyzerProxyDetails/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8025/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface" />
  <xs:complexType name="ArrayOfMeter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meter" nillable="true" type="tns:Meter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeter" nillable="true" type="tns:ArrayOfMeter" />
  <xs:complexType name="Meter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AudioAnalyzer.Common.Audio.AudioInterface" base="q1:StereoAudioInterface">
        <xs:sequence>
          <xs:element minOccurs="0" name="HostIPAdress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MeterID" type="xs:int" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meter" nillable="true" type="tns:Meter" />
</xs:schema>